@page
@model ProjectPano.Pages.Stats.MktIndexModel
@{
	ViewData["FullWidth"] = false;
	ViewData["Title"] = "Statistics";
}

<h5 class="custom-h1">Company Metrics</h5>

<a href="/Stats/ActiveJobRev">Active Client Cumul Revenue</a>
<br />
<br />
<a href="/Stats/Map1">Map of Projects - US</a>
<br />
<br />
<a href="/Stats/Map">Map of Projects - US and Canada</a>
<br />
<br />
<a href="/Stats/Map2">Map of Projects - US and Canada R1</a>
<br />
<br />
<a href="/Stats/Bubbles">Bubbles</a>
<br />
<br />
<a href="/Stats/Bubbles1">Bubbles 1</a>
<br />
<br />
<a href="/Stats/TreeMap">Treemap</a>
<br />
<br />
