@page
@model ProjectPano.Pages.CombinedJobs.IndexModel
@{
	ViewData["FullWidth"] = false;
	ViewData["Title"] = "Combined Jobs";
}

<h5 class="custom-h1">Combined Jobs: E&D + Ops</h5>

<a href="/CombinedJobs/CombinedJobs">Combined Jobs Shown Combined</a>
<br />
<br />
<a href="/CombinedJobs/CombJobsSep">Combined Jobs Shown Separately</a>
<br />
<br />
