@page
@model ProjectPano.Pages._Admin.AdminHomeModel
@{
}

<h5 class="custom-h1">Admin Home</h5>
<br />
<br />

<a href="/_Admin/StoredProcedures">Stored Procedures</a>

<br />
<br />

<a href="/ETC/Index1">ETC</a>

<br />
<br />

<a href="/_Admin/Jobs">Job List</a>

<br/>
