@page
@using ProjectPano
@using static ProjectPano.Model.DAL

@model ProjectPano.Pages.ETC.Index1Model
@{
    ViewData["FullWidth"] = false;
    ViewData["Title"] = "Estimates to Complete";
}

@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@

<h3 class="custom-h1">Resource Loading</h3>

<a href="/ResourceSpread/Overall">Overall Stacked Area Chart</a>
<br/>
<br />
<a href="/ResourceSpread/ResourceSpread">Discipline Histograms</a>
<br/>
<br />
<a href="/ResourceSpread/OverallDetails">Export to Excel</a>