@page
@using System.Linq
@using System.Text.Json
@using ProjectPano
@using ProjectPano.Model
@using static ProjectPano.Model.DAL
@model ProjectPano.Pages.Deliverables.UploadModel

@{
    ViewData["FullWidth"] = false;
    ViewData["Title"] = "New Job Upload Deliverables";
}

<a href="/Deliverables/Options">Back</a>
<br />
<br />

<h5 class="custom-h1">Upload Deliverables</h5>

<div class="d-flex align-items-center mb-2">
    <label for="jobDropdown" style="margin-right: 25px;">Pick Job:</label>
    <select id="jobDropdown" class="selectpicker form-control" data-live-search="true" style="width: 700px;" 
        asp-for="JobId" asp-items="Model.JobSelectList">
        <option value="">--Select Job --</option>
    </select>
</div>
<br />
<br />

@if (Model.HasDeliverables)
{
    <div class="alert alert-warning">
        @Model.DeliverableMessage
    </div>

    <!-- Upload form disabled -->
    <form>
        <fieldset disabled>
            <div class="form-group">
                <label for="excelFile">Upload Excel</label>
                <input type="file" class="form-control" id="excelFile" />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </fieldset>
    </form>
}
else
{
    <!-- Upload form enabled -->
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="excelFile">Upload Excel</label>
            <input type="file" name="excelFile" class="form-control" id="excelFile" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
}

@section Scripts {

<script>
    $(document).ready(function () {
        // Tell bootstrap-select to re-read the selected <option>
        $('#jobDropdown').selectpicker('render');

        $('#jobDropdown').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            const selectedJobId = $(this).val();
            if (selectedJobId) {
                window.location.href = `/Deliverables/Upload?jobId=${selectedJobId}`;
            }
        });
    });
</script>
}

